/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.accordion__editor-item {
	padding: 5px;
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 2px solid #bdc9ac;
		padding: 3px;

		h4 {
			margin: 0;
		}
	}

	p {
		margin: 0;
	}
}
